#body {
  background-size: cover; /* Menyesuaikan gambar untuk mencakup seluruh elemen */
  background-position: center; /* Menyimpan gambar di tengah */
  width: 100%; /* Lebar 100% untuk mengisi lebar layar */
  height: 100vh; /* Tinggi 100vh untuk mengisi tinggi layar */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  height: 100vh;
}

.search-icon {
  width: 25px;
  height: 25px;
}